@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: white;
    font-family:'Roboto', sans-serif;
}

.navbar {
    width:100%;
    margin:5px;
    padding-bottom:64px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.navbar a {
    text-decoration:none;
    margin:10px 12px;
    font-size:14px;
    color:black;
}

.nav-link-l {
    float:left;
}

.nav-link-r {
    float:right
}

#logo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    width:25%;
    height:auto;
}

#form-div{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

form {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#search-bar {
    margin:12px;
    padding:12.5px;
    border: 2px solid rgb(216, 216, 216);
    border-width:thin;
    border-radius:20px;
    outline:none;
    width:36%;
    background-color: white;
    background-image:url('searchicon.png');
    background-position: 7.5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.submit-btn {
    margin:12px;
    padding:10px 24px;
    border:none;
    background-color: rgba(245, 245, 245, 0.8);
    font-size:14px;
}

.footer {
    position:fixed;
    left:0;
    bottom:0;
    margin:4px;
    width:100%;
    background-color: rgb(238, 238, 238);
    color:black;

}

.footer a {
    text-decoration:none;
    margin:16px 16px;
    font-size:14px;
    color:black;
}